:root, [data-bs-theme=light] {
  --bs-primary: #648d83;
  --bs-primary-rgb: 100,141,131;
  --bs-primary-text-emphasis: #283834;
  --bs-primary-bg-subtle: #E0E8E6;
  --bs-primary-border-subtle: #C1D1CD;
  --bs-secondary: #8d646e;
  --bs-secondary-rgb: 141,100,110;
  --bs-secondary-text-emphasis: #38282C;
  --bs-secondary-bg-subtle: #E8E0E2;
  --bs-secondary-border-subtle: #D1C1C5;
  --bs-light: #ffff;
  --bs-light-rgb: 255,255,255;
  --bs-light-text-emphasis: #666666;
  --bs-light-bg-subtle: #FFFFFF;
  --bs-light-border-subtle: #FFFFFF;
  --bs-dark: #2b2b2b;
  --bs-dark-rgb: 43,43,43;
  --bs-dark-text-emphasis: #111111;
  --bs-dark-bg-subtle: #D5D5D5;
  --bs-dark-border-subtle: #AAAAAA;
  --bs-body-color: #2b2b2b;
  --bs-body-color-rgb: 43,43,43;
  --bs-secondary-color: rgba(43,43,43,0.75);
  --bs-secondary-color-rgb: 43,43,43,0.75;
  --bs-tertiary-color: rgba(43,43,43,0.5);
  --bs-tertiary-color-rgb: 43,43,43,0.5;
  --bs-body-bg: #ffff;
  --bs-body-bg-rgb: 255,255,255;
  --bs-body-font-family: 'Open Sans', sans-serif;
  --bs-link-color: #3763f4;
  --bs-link-color-rgb: 55,99,244;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #648d83;
  --bs-btn-border-color: #648d83;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #7B9E96;
  --bs-btn-hover-border-color: #74988F;
  --bs-btn-focus-shadow-rgb: 15,21,20;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #83A49C;
  --bs-btn-active-border-color: #74988F;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #648d83;
  --bs-btn-disabled-border-color: #648d83;
}

.btn-outline-primary {
  --bs-btn-color: #648d83;
  --bs-btn-border-color: #648d83;
  --bs-btn-focus-shadow-rgb: 100,141,131;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #648d83;
  --bs-btn-hover-border-color: #648d83;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #648d83;
  --bs-btn-active-border-color: #648d83;
  --bs-btn-disabled-color: #648d83;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #648d83;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #8d646e;
  --bs-btn-border-color: #8d646e;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #78555E;
  --bs-btn-hover-border-color: #715058;
  --bs-btn-focus-shadow-rgb: 238,232,233;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #715058;
  --bs-btn-active-border-color: #6A4B53;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #8d646e;
  --bs-btn-disabled-border-color: #8d646e;
}

.btn-outline-secondary {
  --bs-btn-color: #8d646e;
  --bs-btn-border-color: #8d646e;
  --bs-btn-focus-shadow-rgb: 141,100,110;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8d646e;
  --bs-btn-hover-border-color: #8d646e;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #8d646e;
  --bs-btn-active-border-color: #8d646e;
  --bs-btn-disabled-color: #8d646e;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #8d646e;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ffff;
  --bs-btn-border-color: #ffff;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #D9D9D9;
  --bs-btn-hover-border-color: #CCCCCC;
  --bs-btn-focus-shadow-rgb: 38,38,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #CCCCCC;
  --bs-btn-active-border-color: #BFBFBF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ffff;
  --bs-btn-disabled-border-color: #ffff;
}

.btn-outline-light {
  --bs-btn-color: #ffff;
  --bs-btn-border-color: #ffff;
  --bs-btn-focus-shadow-rgb: 255,255,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ffff;
  --bs-btn-hover-border-color: #ffff;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ffff;
  --bs-btn-active-border-color: #ffff;
  --bs-btn-disabled-color: #ffff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffff;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2b2b2b;
  --bs-btn-border-color: #2b2b2b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #252525;
  --bs-btn-hover-border-color: #222222;
  --bs-btn-focus-shadow-rgb: 223,223,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #222222;
  --bs-btn-active-border-color: #202020;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2b2b2b;
  --bs-btn-disabled-border-color: #2b2b2b;
}

.btn-outline-dark {
  --bs-btn-color: #2b2b2b;
  --bs-btn-border-color: #2b2b2b;
  --bs-btn-focus-shadow-rgb: 43,43,43;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2b2b2b;
  --bs-btn-hover-border-color: #2b2b2b;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2b2b2b;
  --bs-btn-active-border-color: #2b2b2b;
  --bs-btn-disabled-color: #2b2b2b;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #2b2b2b;
}

[data-bs-theme=dark] {
  --bs-body-color: #ffffff;
  --bs-body-color-rgb: 255,255,255;
  --bs-secondary-color: rgba(255,255,255,0.75);
  --bs-secondary-color-rgb: 255,255,255,0.75;
  --bs-tertiary-color: rgba(255,255,255,0.5);
  --bs-tertiary-color-rgb: 255,255,255,0.5;
  --bs-body-bg: #2b2b2b;
  --bs-body-bg-rgb: 43,43,43;
}

